<div>
  <h2 style="text-align: center">
    <span>Tutorial Cetegory of {{ appMst!.appName }}</span>
    <br />
    <br />

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadMaterial()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>
      <button class="btn btn-primary jh-create-entity" (click)="addMaterial()">
        <fa-icon icon="plus"></fa-icon> <span>New Material</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col"><span>Id</span></th>
                  <th scope="col"><span>Title</span></th>
                  <th scope="col"><span>Type</span></th>
                  <th scope="col">Active</th>
                  <!-- <th scope="col"><span>Action</span></th> -->
                  <th scope="col"><span>Created by</span></th>
                  <th scope="col"><span>Modified by</span></th>
                  <th scope="col">View/Edit/Open</th>
                </tr>
              </thead>
              <ng-container *ngIf="matList!.length > 0">
                <tbody>
                  <tr *ngFor="let mat of matList">
                    <td>
                      <a [routerLink]="['../../', 'view', mat.materialId]">{{ mat.materialId }}</a>
                    </td>
                    <td>{{ mat.title }}</td>
                    <td>{{ mat.typeCode }}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" *ngIf="!mat.active">Deactivated</button>
                      <button class="btn btn-success btn-sm" *ngIf="mat.active">Activated</button>
                    </td>
                    <!-- <td>{{ mat.clickActionCode }}</td> -->
                    <!-- <td>{{ cat.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
                    <td>{{ cat.updatedDate | date: 'dd/MM/yy HH:mm' }}</td> -->
                    <td>{{ mat.createdBy }}</td>
                    <td *ngIf="mat.updatedBy">{{ mat.updatedBy }}</td>
                    <td *ngIf="!mat.updatedBy">{{ 'N/A' }}</td>

                    <td class="text-right">
                      <div class="btn-group">
                        <button type="submit" [routerLink]="['../../', 'view', mat.materialId]" class="btn btn-info btn-sm">
                          <fa-icon icon="eye"></fa-icon>
                          <span class="d-none d-md-inline">View</span>
                        </button>

                        <button
                          type="submit"
                          [routerLink]="['../../', 'edit', mat.materialId]"
                          queryParamsHandling="merge"
                          class="btn btn-warning btn-sm"
                        >
                          <fa-icon icon="pencil-alt"></fa-icon>
                          <span class="d-none d-md-inline">Edit</span>
                        </button>

                        <button
                          type="submit"
                          (click)="openMaterial(mat!.materialURL)"
                          queryParamsHandling="merge"
                          class="btn btn-success btn-sm"
                        >
                          <fa-icon icon="external-link-alt"></fa-icon>
                          <span class="d-none d-md-inline">Open</span>
                        </button>

                        <!-- <button
                    type="button"
                    (click)="deleteUser(user)"
                    class="btn btn-danger btn-sm"
                    [disabled]="!currentAccount || currentAccount.login === user.login"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
            </table>

            <ng-container *ngIf="matList!.length == 0">
              <div class="alert alert-warning alert-dismissible fade show" style="text-align: center">
                <a
                  ><h3>Material not added for {{ appMst!.appName }}</h3></a
                >
                <button class="btn btn-danger" (click)="addMaterial()"><fa-icon icon="plus"></fa-icon> <span>New Material</span></button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
