<!-- <ng-container *ngFor="let item of appMstList">

  <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">{{ item.appName }}</div>
    <div class="card-body">
     <img src="{{ item.iconUrl }}" style="width: 150px; height: inherit;">
      <h4 class="card-title">{{ item.developerName }}</h4>
      <p class="card-text">{{ item.packageName }}</p>

        <button type="button" class="btn btn-primary" (click)="oppenAppLink(item)">View</button>
    </div>
  </div>
</ng-container> -->

<div class="container">
  <main class="grid">
    <ng-container *ngFor="let item of appMstList">
      <article>
        <img src="{{ item.iconUrl }}" alt="{{ item.appName }}" style="width: 150px; height: inherit; margin-top: 15px" />
        <div class="text">
          <h3>{{ item.appName }}</h3>
          <h4>{{ item.developerName }}</h4>
          <p>{{ item.packageName }}</p>

          <button type="button" (click)="oppenAppLink(item)" class="btn btn-secondary">Playstore</button>
          <button type="button" [routerLink]="['../', 'app-mst-dtl', item.appId]" queryParamsHandling="merge" class="btn btn-primary">
            Open
          </button>
        </div>
      </article>
    </ng-container>
  </main>
</div>
