<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <!-- <li>
                    <a href="https://www.apkzube.com"target="_blank">
                        APKZUBE TEAM
                    </a>
                </li> -->
        <li>
          <a href="http://www.apkzube.com" target="_blank"> Blog </a>
        </li>
        <li>
          <a href="https://www.apkzube.com/license" target="_blank"> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ test | date: 'yyyy' }}, made with <fa-icon style="color: red" icon="heart"></fa-icon> by
      <a href="https://www.apkzube.com" style="color: blue">ApkZube</a>
    </div>
  </div>
</footer>
