<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Material</h5>
        </div>

        <div class="card-body">
          <form name="matForm" role="form" (ngSubmit)="save()" [formGroup]="matForm">
            <input type="hidden" class="form-control" formControlName="appId" value="{{ matDTO!.appId }}" />
            <input type="hidden" class="form-control" formControlName="matId" value="{{ matDTO!.materialId }}" />

            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" disabled value="{{ appMst!.appName }}" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label class="form-control-label">Title</label>
                  <input type="text" class="form-control" name="title" formControlName="title" />
                  <div *ngIf="matForm.get('title')!.invalid && (matForm.get('title')!.dirty || matForm.get('title')!.touched)">
                    <small class="form-text text-danger" *ngIf="matForm.get('title')?.errors?.required">title is required. </small>
                  </div>
                  <div *ngIf="matForm.get('title')!.invalid && (matForm.get('title')!.dirty || matForm.get('title')!.touched)">
                    <small class="form-text text-danger" *ngIf="matForm.get('title')?.errors?.minLength">min 6 char</small>
                  </div>
                  <div *ngIf="matForm.get('title')!.invalid && (matForm.get('title')!.dirty || matForm.get('title')!.touched)">
                    <small class="form-text text-danger" *ngIf="matForm.get('title')?.errors?.maxLength">max 50</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control textarea" name="detail" formControlName="detail"></textarea>
                  <div *ngIf="matForm.get('detail')!.invalid && (matForm.get('detail')!.dirty || matForm.get('detail')!.touched)">
                    <small class="form-text text-danger" *ngIf="matForm.get('detail')?.errors?.required">
                      Material description is required.
                    </small>

                    <small class="form-text text-danger" *ngIf="matForm.get('detail')?.errors?.maxlength">
                      cannot be longer than 200 characters.
                    </small>

                    <small class="form-text text-danger" *ngIf="matForm.get('detail')?.errors?.minlength">
                      cannot be shorter than 8 characters.
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>URL</label>
                  <textarea class="form-control textarea" name="materialURL" formControlName="materialURL"></textarea>
                  <div
                    *ngIf="
                      matForm.get('materialURL')!.invalid && (matForm.get('materialURL')!.dirty || matForm.get('materialURL')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="matForm.get('materialURL')?.errors?.required">
                      Material URL is required.
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label></label>
                  <br />
                  <button type="button" class="btn btn-link btn-success" (click)="openMaterial()">
                    <fa-icon icon="external-link-alt"></fa-icon>&nbsp;<span> Check</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Type</label>
                  <div class="form-group">
                    <select class="form-control" id="typeCode" name="typeCode" formControlName="typeCode">
                      <option selected value="">-- Select --</option>
                      <ng-container *ngFor="let types of typeCodes">
                        <option value="{{ types.typeCode }}">{{ types.typeName }}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="matForm.get('typeCode')!.invalid && (matForm.get('typeCode')!.dirty || matForm.get('typeCode')!.touched)">
                      <small class="form-text text-danger" *ngIf="matForm.get('typeCode')?.errors?.required"
                        >Material type is required.</small
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Action</label>
                  <div class="form-group">
                    <select class="form-control" id="clickActionCode" name="clickActionCode" formControlName="clickActionCode">
                      <option selected value="">-- Select --</option>
                      <ng-container *ngFor="let action of actionCodes">
                        <option value="{{ action.actionCode }}">{{ action.actionDesc }}</option>
                      </ng-container>
                    </select>
                    <div
                      *ngIf="
                        matForm.get('clickActionCode')!.invalid &&
                        (matForm.get('clickActionCode')!.dirty || matForm.get('clickActionCode')!.touched)
                      "
                    >
                      <small class="form-text text-danger" *ngIf="matForm.get('clickActionCode')?.errors?.required"
                        >Action is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Icon</label>
                  <div class="custom-file">
                    <label class="custom-file-label" for="iconURL">{{ iconFileName }}</label>
                    <input
                      type="file"
                      accept="image/*"
                      class="custom-file-input form-control"
                      id="iconURL"
                      formControlName="iconURL"
                      (change)="onIconFileChange($event)"
                    />
                    <div *ngIf="matForm.get('iconURL')!.invalid && (matForm.get('iconURL')!.dirty || matForm.get('iconURL')!.touched)">
                      <small class="form-text text-danger" *ngIf="matForm.get('iconURL')?.errors?.required">Icon is required. </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 pr-1" *ngIf="iconFileSrc">
                <div class="form-group">
                  <label>Icon preview</label>

                  <img class="form-control" disabled="" style="width: 200px; height: inherit" src="{{ iconFileSrc }}" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>State</label>

                  <select class="form-control" id="active" name="active" formControlName="active">
                    <option value="{{ true }}">Active</option>
                    <option value="{{ false }}">Inactive</option>
                  </select>
                </div>
              </div>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                  <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span> Back</span>
                </button>
                <button type="button" class="btn btn-warning" (click)="clearForm()">
                  <fa-icon icon="trash"></fa-icon>&nbsp;<span> Clear</span>
                </button>

                <button type="submit" [disabled]="matForm.invalid || isSaving" class="btn btn-primary">
                  <fa-icon icon="save"></fa-icon>&nbsp;<span> Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
